<table>
    <tr>
        <td>
            Addessline 1:
        </td>
    </tr>
    <tr>
        <td>
            Addessline 2:
        </td>
    </tr>
    <tr>
        <td>
            City 
        </td>
        </tr>
    <tr>
        <td>
            state
        </td>
    </tr>
</table>